.no-selected-chat {
    position: relative;
    top: 25%;
    left: 5%;
    max-width: 760px;
    width: 100%;
    height: max-content;
}

.no-selected-chat h1{
    line-height: 1.15;
    font-size: 3rem;
}

.no-selected-chat p{
    margin-top: 1rem;
    color: var(--gray-30-);
    font-weight: 700;
    font-size: 1.125rem;
}
